<!DOCTYPE html>
<html>
<head>
<title>SimpleShop</title>
<meta charset="utf-8" />
 <link rel="stylesheet" href="/css/mainCss.css">
</head>

<body>

	<nav class="navbar">
		<div class="nav_logo">
			<i class="fa-solid fa-star"></i> <a href="/products/list"><img
				class="logo_img" src="/logo/logo.png"></a>
		</div>
		<ul class="nav_menu">
			<li><a href="/products/list">Home</a></li>
			<li><a href="/cart/cart">Cart</a></li>
			<li><a href="/products/register">Register</a></li>
			<!-- 상품 더보기 -->
			<li><a href="">More</a></li>
			<li><a href="">My Page</a></li>
		</ul>
	</nav>


	<div class="products">
		<h3>our new products</h3>
		<div class="product-list">
		
			<div th:each="dto : ${list}" class="product">
		
			<a th:href="@{/products/read(no = ${dto.productid})}">
				<img th:src="@{${dto.imgUrl}}" width="225">
				<div class="product-name">[[ ${ dto.name } ]]</div>
				<div class="product-price">[[ ${ dto.price } ]]</div>
			</a>
			<div class="clearfix"></div>
			
			</div>
			
		</div>
	</div>

	<!-- 일단 남겨두기 나중에 요긴하게 쓸 것 같다. -->
	<div class="footer">
		<a href="http://facebook.com"> <img src="/logo/페이스북.png"
			height="20">
		</a> <a href="http://instagram.com"> <img src="/logo/인스타.jpg"
			height="20">
		</a>
	</div>
</body>
</html>