<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>파일 업로드</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  	<link rel="stylesheet" href="/css/register.css">
</head>
<body ng-controller="RegisterCtrl" ng-app="myApp">

 <div class="container">
   <div id="signup">
      <div class="signup-screen">
         <div class="space-bot text-center">
            <h1>물건 수정하기</h1>
           <div class="divider"></div>
         </div>
           <form action="/products/modify" method="post" name="modify" novalidate  enctype="multipart/form-data">
	            
	            <!-- 상품명 -->
	        <div class="input-field col s6">
              	<input id="first-name" type="text" class="validate" name="name"  placeholder="이름 입력"
              	th:value="${dto.name}"  required>
              	<label for="first-name"></label>
            </div>
            
            <!-- 가격 -->
            <div class="input-field col s6">
              <input id="last-name" type="text" class="validate" name="price"  placeholder="가격 입력"
              th:value=${dto.price} required>
              <label for="last-name"></label>
             </div>
             
             
             <div class="input-field col s6">
			  <p>기존 상품 사진</p>
			  <img th:src="@{${dto.imgUrl}}" style="max-width: 150px;">
			  <p>새 상품 사진 (선택)</p>
              <input id="imgUrl" type="file" name="imgUrl" class="validate" required>
			</div>
			
              
              
			<div class="input-field col s6">
			  <p>기존 설명 사진</p>
			  <img th:src="@{${dto.desImg}}" style="max-width: 150px;">
			  <p>새 설명 사진 (선택)</p>
               <input id="desImg" type="file" name="desImg" class="validate" required>
			</div>
			              
			  
              <div class="space-top text-center">
               <button ng-disabled="form-register.$invalid" class="waves-effect waves-light btn done">
               <i class="material-icons left">done</i> Done
               </button>
               
               <a href="/products/list">
               <button type="button" class="waves-effect waves-light btn cancel">
               <i class="material-icons left">clear</i>Cancel
               </button>
               </a>
               
              </div>
              <input type="hidden" name="productid" th:value="${dto.productid}">
             </form>
           </div>
        </div>
    </div>
    
    <script>
	    var myApp = angular.module("myApp", []);
	    myApp.controller("RegisterCtrl", function ($scope) {
	
	    });
    </script>
    
</body>
</html>



<!-- 
<body>
    <h2>파일 업로드 테스트</h2>
    <form action="/products/register" method="post" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="이름 입력"><br><br>
        <input type="file" name="file"><br><br>
        <button type="submit">제출</button>
    </form>
</body>
-->