* {
  box-sizing: border-box;
}

:root {
  --accent-color: #f3ff87;
  --text-color: #f0f4f5;
  --background-color: #0b002b;}

.body {
  margin: 0;
  font-family: 'Montserrat';}

a {
  text-decoration: none;
  color: var(--text-color);}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 8px 12px;}
  
  .nav_logo {
  font-size: 24px;
  color: var(--text-color);}

.nav_logo i {
  color: var(--accent-color);}

.nav_logo span {
  color: var(--accent-color);}

.nav_menu {
  display: flex;
  list-style: none;
  padding-left: 0;}

.nav_menu li {
  padding: 8px 12px;}

.nav_menu li:hover {
  color: var(--background-color);
  background-color: var(--accent-color);
  border-radius: 4px;}

.nav_menu li a:hover {
  color: var(--background-color);}

.navbar_toggleBtn {
  display: none;
  color:var(--text-color);
  position: absolute;
  right: 32px;
  font-size: 24px;}


/* hero header */
.hero-header{
  height: 450px;
  background-image: url("../images/hero_header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  
}
/* products */

.products h3{
  font-size: 24px;
  color: #545454;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}
.product-list{
  width: 735px;
  margin-left: auto;
  margin-right: auto;
}
.product{
  width: 225px;
  text-align: center;
  display: block;
  color: #545454;
  text-decoration: none;
  float: left;
  margin-left:10px;
  margin-right: 10px;
  margin-bottom: 80px;
  
}

.product-name{
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 4px;
}
.product-price {
	text-decoration: none;
}
.clearfix{
  clear: both;
}
/* footer */
.footer{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 80px;	

}
.footer a{
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}